<!-- SLEEK CSS -->
<link id="sleek-css" rel="stylesheet" href="assets/css/sleek.css" />

<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  <div class="mobile-sticky-body-overlay"></div>

  <div class="wrapper">

    <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->

    <div class="page-wrapper">

      <div class="content-wrapper">

        <div class="content">
          <div class="breadcrumb-wrapper">
            <h1>Card</h1>

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb p-0">
                <li class="breadcrumb-item">
                  <a href="index.html">
                    <span class="mdi mdi-home"></span>
                  </a>
                </li>
                <li class="breadcrumb-item">
                  Category
                </li>
                <li class="breadcrumb-item" aria-current="page">Men</li>
              </ol>
            </nav>

          </div>
          <div class="card card-default">
            <div class="card-header card-header-border-bottom">
              <h2>Card with Image</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <p class="mb-5">Bootstrap’s cards provide a flexible and extensible content container with multiple
                    variants and options. Read bootstrap documentaion for <a
                      href="https://getbootstrap.com/docs/4.4/components/card/" target="_blank"> More
                      Details </a>
                  </p>
                </div>
                <div class="col-md-6 col-xl-3">
                  <div class="card mb-4">
                    <img class="card-img-top" src="assets/img/elements/cc1.jpg">
                    <div class="card-body">
                      <h5 class="card-title text-primary">Product Name</h5>
                      <p class="card-text pb-3">Description<br>Price<br>category</p>
                      <a href="#" class="btn btn-outline-primary">View Full Details</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer mt-auto">
        <div class="copyright bg-white">
          <p>
            &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
            <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
          </p>
        </div>
        <script>
          var d = new Date();
          var year = d.getFullYear();
          document.getElementById("copy-year").innerHTML = year;
        </script>
      </footer>

    </div>
  </div>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCn8TFXGg17HAUcNpkwtxxyT9Io9B_NcM" defer></script>
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/plugins/toaster/toastr.min.js"></script>
  <script src="assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
  <script src="assets/plugins/charts/Chart.min.js"></script>
  <script src="assets/plugins/ladda/spin.min.js"></script>
  <script src="assets/plugins/ladda/ladda.min.js"></script>
  <script src="assets/plugins/jquery-mask-input/jquery.mask.min.js"></script>
  <script src="assets/plugins/select2/js/select2.min.js"></script>
  <script src="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
  <script src="assets/plugins/daterangepicker/moment.min.js"></script>
  <script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="assets/plugins/jekyll-search.min.js"></script>
  <script src="assets/js/sleek.js"></script>
  <script src="assets/js/chart.js"></script>
  <script src="assets/js/date-range.js"></script>
  <script src="assets/js/map.js"></script>
  <script src="assets/js/custom.js"></script>




</body>

</html>