<h2 class="text-center mt-5 mb-5">Change banners</h2>

<div class="row container-fluid">
    <div class="col-md-4">
        <h4 class="text-center">Image 1</h4>
        <img src="/images/wallpapers/home-banner/image1.jpg" alt="image 1">
    </div>

    <div class="col-md-4">
        <h4 class="text-center">Image 2</h4>
        <img src="/images/wallpapers/home-banner/image2.jpg" alt="image 2">
    </div>

    <div class="col-md-4">
        <h4 class="text-center">Image 3</h4>
        <img class="" src="/images/wallpapers/home-banner/image3.jpg" alt="image 3">
    </div>
</div>